<div data-role="page" id="page2">
  <div data-role="header">
    <%= link_to "", :back, class: "ui-btn ui-icon-arrow-l ui-btn-icon-notext ui-corner-all" %>
    <h1>Resumo</h1>
  </div>

  <div role="main" class="ui-content">
    <ul data-role="listview" data-inset="true">
      <li data-role="list-divider">Mesa <%= current_table %></li>
      <% @summaries["items"].each do |product| %>
        <li class="product_<%= product['id'] %>">
          <%= link_to product["name"], 
            remove_orders_path(id: product["id"]), 
            remote: true, 
            data: { confirm: "Confirmar?" } %> 
          <span class="ui-li-count">R$ <%= product["price"] %></span>
        </li>
      <% end %>
    </ul>
  </div>

  <div data-role="footer" data-position="fixed" align="center">
    <%= link_to "Salvar", :orders, method: :post, class: "ui-btn ui-btn-inline" %>
		<%= link_to "Fechar Mesa", :pay_orders, class: "ui-btn ui-btn-inline" %>
	</div>
</div>


