<% content_for(:header) do %>
  <%= back_link "/categories" %>
  <h1>Resumo</h1>
<% end %>

<ul data-role="listview" data-inset="true">
  <% @summaries["items"].each do |product| %>
    <li class="product_<%= product['id'] %>">
      <h2>
        <span class="qnt_<%= product['id'] %>"><%= product["quantity"] %></span>x
        <%= product["name"] %> <%= product["size"] %>
      </h2>
      
      <% unless product["flavors"].blank? %>
        <p><%= product["flavors"].map(&:capitalize).join(", ") %></p>
      <% end %>

      <p>
        <% unless product["type"] == "Pizza" %>
          <%= link_to "-", remove_quantity_orders_path(id: product["id"]), remote: true, class: "button-summary orange show-page-loading-msg" %>
          <%= link_to "+", add_quantity_orders_path(id: product["id"]), remote: true, class: "button-summary green show-page-loading-msg" %>
        <% end %>
        <%= link_to "x", remove_orders_path(id: product["id"]), remote: true, data: { confirm: "Remover?" }, class: "button-summary red show-page-loading-msg" %>
      </p>
    </li>
  <% end %>

  <% if @summaries["items"].blank? %>
    <li>Não há produtos adicionados.</li>
  <% end %>
</ul>


