<% content_for(:header) do %>
  <%= link_to "", :back, class: "ui-btn ui-icon-arrow-l ui-btn-icon-notext ui-corner-all" %>
  <h1>Resumo</h1>
<% end %>

<ul data-role="listview" data-inset="true">
  <li data-role="list-divider">Mesa <%= current_table %></li>
  <% @summaries["items"].each do |product| %>
    <li class="product_<%= product['id'] %>">
      <%= link_to remove_orders_path(id: product["id"]), remote: true, data: { confirm: "Confirmar?" } do %>
        <h2><%= product["name"] %> <%= product["size"] %></h2>
        <% unless product["flavors"].blank? %>
          <p><%= product["flavors"].map(&:capitalize).join(", ") %></p>
        <% end %>
      <% end %>
    </li>
  <% end %>
</ul>
