<% unless order.items.blank? %>
  <div class="order">
    <div class="order-table-number">
      <%= order.table.customId %>
    </div>

    <div class="order-time">
      <%= time_ago_in_words(order.created_at) %>
    </div>
    <div class="clear"></div>

    <br />

    <% order.items.each do |item| %>
      <div class="order-items">
        <h3><%= item['quantity'] %>x <%= item['name'] %> <%= item['size'] %></h3>
    
        <% unless item['flavors'].blank? %>
          <% item['flavors'].each do |f| %>
            <li><%= f %></li>
          <% end %>
        <% end %>

        <p><%= item['observation'].map(&:upcase).join(", ") %> </p>
      </div>
    <% end %>
  </div>
<% end %>
