<% content_for(:header) do %>
  <%= link_to "", :back, class: "ui-btn ui-icon-arrow-l ui-btn-icon-notext ui-corner-all" %>
  <h1>Mesa <%= current_table %></h1>
<% end %>

<div class="options-product-name"> 
  <span><%= @product.name %></span><br />
  <b><%= reais(@product.price) %></b>
</div>

<%= form_tag :add_other_orders, remote: true, class: "options-form" do %>
  <%= hidden_field_tag :product_id, @product.id %>

  <p><input type="range" name="quantity" id="quantity" min="1" max="20" value="1"></p>

  <% unless Product::RULES[@product.category.name].blank? %>
    <fieldset data-role="controlgroup" data-mini="true">
      <% Product::RULES[@product.category.name].each_with_index do |rule, index| %>
        <%= check_box_tag "checkbox-#{index}", rule, false, name: "options[]" %>
        <%= label_tag "checkbox-#{index}", rule %>
      <% end %>
    </fieldset>
  <% end %>
<% end %>

<% content_for(:add_pizza_button) do %>
  <%= link_to "Add", "", remote: true, method: :post, class: "ui-btn ui-btn-inline ui-corner-all btn-blue form-submit-options show-page-loading-msg" %>
<% end %>
