<% content_for(:header) do %>
  <%= back_link "/products?id=#{@product.category.id}" %>
  <h1>Mesa <%= current_table %></h1>
<% end %>

<div class="options-product-name"> 
  <span><%= @product.name %></span><br />
  <b><%= reais(@product.price) %></b>
</div>

<%= form_tag :add_other_orders, class: "options-form" do %>
  <%= hidden_field_tag :product_id, @product.id %>
  <%= hidden_field_tag :quantity, 1, class: "quantity" %>

  <div class="quantity">
    <%= link_to "-", "", class: "remove" %>
    <span class="span-quantity">1</span>
    <%= link_to "+", "", class: "add" %>
  </div>

  <div><%= text_field_tag :observation, "", placeholder: "Observação" %></div>

  <% unless Product::RULES[@product.category.name].blank? %>
    <fieldset data-role="controlgroup" data-mini="true">
      <% Product::RULES[@product.category.name].each_with_index do |rule, index| %>
        <%= check_box_tag "checkbox-#{index}", rule, false, name: "options[]" %>
        <%= label_tag "checkbox-#{index}", rule %>
      <% end %>
    </fieldset>
  <% end %>

  <%= submit_tag "Adicionar" %>
<% end %>
