<!DOCTYPE html>
<html>
  <head>
    <title>Admin</title>
    <%= stylesheet_link_tag    '' %>
    <%= javascript_include_tag '' %>
    <%= csrf_meta_tags %>
  </head>
  <body>

    <div>
      <%= link_to "home", :admin_index %> | 
      <%= link_to "nova mesa", :new_table %> | 
      <%= link_to "nova categoria", :new_category %> | 
      <%= link_to "novo produto", :new_product %> | 
      <%= link_to "novo sabor", :new_flavor %>
    </div>

    <hr />
    
    <%= yield %>
  </body>
</html>

