<!DOCTYPE html>
<html>
  <head>
    <title>BarApp</title>
    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
    <%= csrf_meta_tags %>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name=apple-mobile-web-app-capable content=yes>
    <meta name=apple-mobile-web-app-status-bar-style content=white>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  </head>
  <body>

    <div data-role="page" class="page" data-url="<%= request.path %>">
      <div class="header">
        <% if show_buttons.include?(params[:controller]) %> 
          <%= link_to :summaries, class: "qnt-link absolute-right" do %>
            <span class="qnt"><%= count_items %></span>
            <i class='material-icons'>shopping_basket</i>
          <% end %>
        <% end %>

        <%= yield(:header) %>
      </div>

      <div role="main" class="ui-content">
        <%= yield %>
      </div>

      <div data-role="footer" data-position="fixed" align="center">
        <% if show_buttons_footer.include?(params[:controller]) %> 
          <%= link_to "<i class='material-icons'>done</i>".html_safe, :orders, method: :post, data: {confirm: "Salvar Pedido?"}, class: "ui-btn ui-btn-inline ui-corner-all btn-green" %>
          <%= link_to "<i class='material-icons'>receipt</i>".html_safe, :pay_orders, data: {confirm: "Fechar Mesa?"}, class: "ui-btn ui-btn-inline ui-corner-all btn-orange" %>
        <% end %>
      </div>
    </div>

  </body>
</html>
