<!DOCTYPE html>
<html>
  <head>
    <title>BarApp</title>
    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
    <%= csrf_meta_tags %>
    <meta name="viewport" content="width=device-width, initial-scale=1">
  </head>
  <body>

    <div data-role="page">
      <div data-role="header">
        <%= yield(:header) %>
        
        <% if show_buttons.include?(params[:controller]) %> 
          <%= link_to :summaries, class: "ui-btn-right ui-btn ui-btn-inline ui-mini ui-corner-all" do %>
            <span class="qnt"><%= count_items %></span> Itens
          <% end %>
        <% end %>
      </div>

      <div role="main" class="ui-content">
        <%= yield %>
      </div>

      <div data-role="footer" data-position="fixed" align="center">
        <%= yield(:add_pizza_button) %>
        <% if show_buttons_footer.include?(params[:controller]) %> 
          <%= link_to "Salvar", :orders, method: :post, data: {confirm: "Salvar Pedido?"}, class: "ui-btn ui-btn-inline ui-corner-all btn-green" %>
          <%= link_to "Fechar Mesa", :pay_orders, data: {confirm: "Fechar Mesa?"}, class: "ui-btn ui-btn-inline ui-corner-all btn-orange" %>
        <% end %>
      </div>
    </div>

  </body>
</html>
